<h2 class="ui center aligned icon header">
  <i class="circular quote right large icon"></i>
  Message your friend!
</h2>

<div class="ui two column grid">
    <div class="six wide column">
        <div class="ui large vertical pointing menu">
        <a class="active item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item">
            Friends
        </a>
        </div>
    </div>
    
<div class="ten wide column">
  <h3 class="ui dividing header">Chatroom</h3>
    <% @messages.each do |message| %>
      <div class="comment">
        <div class="content">
          <strong><%= message.user.username %></strong>: <%= message.body %>
          <div class="metadata">
            <span class="date"><%= message.created_at.strftime("Sent on %d/%m at %I:%M%p") %></span>
          </div>
        </div>
      </div>
    <% end %>

  <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <%= f.button '<i class="bordered inverted green large edit icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
   </div>        

</div>
</div>